<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<false/>
	<key>method</key>
	<string>app-store-connect</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.revopsglobal.codeisland.buddy</key>
		<string>CodeIsland Buddy App Store</string>
		<key>com.revopsglobal.codeisland.buddy.widget</key>
		<string>CodeIsland Buddy Widget App Store</string>
		<key>com.revopsglobal.codeisland.buddy.share</key>
		<string>CodeIsland Buddy Share App Store</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>44JG2Y95CH</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
